<ng-container *ngIf="viewModel$ | async as viewModel; else loading">
  <div class="container my-2">
    <app-hello name="{{ name }}"></app-hello>
    <p>
      Very simple NgRx starter app. Used in this medium article :
      <a
        href="https://medium.com/@coco.boudard/starting-with-angular-and-ngrx-store-75e92c90d346">
        Starting with Angular and NgRx Store
      </a>
    </p>
    <div class="mb-2">
      <button class="btn btn-success btn-sm me-2" (click)="decrement()">
        Decrement
      </button>
      <button class="btn btn-success btn-sm me-2" (click)="increment()">
        Increment
      </button>
      <button
        class="btn btn-primary btn-sm me-2"
        (click)="storeVal(viewModel.count)">
        Store
      </button>
    </div>
    <div class="mb-2">
      counter:
      <span
        class="badge bg-primary"
        id="num"
        [innerText]="viewModel.count"></span>
    </div>
    <div class="mb-2">
      storage:
      <span
        class="badge bg-info"
        id="storage"
        [innerText]="viewModel.storage"></span>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle>
        Toggle dropdown
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="container my-2">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
